

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
	margin:0;
	padding:0;
}
body{
	background-color: #e8ebf0;
	background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../assets/zenGardenlogo.jpg");
	background-repeat: no-repeat;
	background-size: 70%;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Open Sans', sans-serif;
	color: #5f6263;
	text-align: justify;
	padding: 0 5% 0 20% ;
}
h1, h2, h3{
	font-family: 'Josefin Sans', sans-serif;
}
h1{
	text-decoration: underline;
	font-size: 200%;
}
h3{
	text-align: right;
	padding: 5% 0;
}
.sidebar{
	height: 100%;
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #747548;
	overflow: hidden; /* Disable scroll */
	padding-top: 20px;
}

header {
	text-align: right;
	padding: 5% 0;
}
#zen-summary{
	text-align: right;
}
a{
	color: #1c1b17;
}
p[role="contentinfo"] {
	text-align: center;
}
.participation
[role=navigation] ul li a{
color: purple;
}
h3.select{
	text-align: left;
	padding: 10px;
	color: #1c1b17;
}
.design-selection {
	text-align: center;
	padding-bottom: 15px;
}
.design-selection li {
	list-style-type: none;
	display: inline block;
	padding: 5px;
	text-align: center;
	color: #1c1b17;
}
.design-name{
	color: #e8ebf0;
}
.designer-name{
	color: #1c1b17;
}
.design-name a:active {
	padding: 15px;
	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.select {
	color:black;
padding-top: 25px;
}

footer{
	text-align: center;
}
@media only screen and (min-width: 1024px){
	
}