/* Varibles */
$main: #747548;
$color-1: #a9a27f; // Light moss- Action color
$color-2: #35341f; // Dark Grey -  Copy
$color-3: #d1cec6; // Light Grey - Hover
$color-4: #665941; // Dark Brown
$color-5: #9c8b6d; // Taupe
$color-6: #747548; // Dark Moss
$color-7: hsl(55, 35%, 94%);//header
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
	font-family: 'Josefin Sans', sans-serif;
	color: $color-7;
}
h1{
	text-decoration: underline;
}
h3{
	text-align: center;
	background-color: $main;
	border-radius: 10px;
	width: 300px;
	margin: auto;
}
.sidebar{
	position: relative;
	width: 100%;
	text-align: center;
}

header {
	background-color: $main;
	text-align: center;
	margin:auto;
	border-radius: 10px;
	width: 300px;
	padding: 5%;
}

.participation
[role=navigation] ul li a{
color: purple;
}
.design-selection {
	background-color: $main;
	text-align: center;
	width: 500px;
	padding-bottom: 15px;
	margin: auto;
	border-radius: 10px;
	text-decoration: none;
}
.design-selection li {
	list-style-type: none;
	display: inline block;
	padding: 5px;
	margin-right: 50px;
	text-align: center;
	text-decoration: none;
}

.design-name a:active {
	padding: 15px;
	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.select {
	color:black;
padding-top: 25px;
}

@media only screen and (min-width: 1024px){
	
}