

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

@media only screen and (min-width: 420px) {
/* etc. SMall view*/
body{
	background-color:	#a5a671;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
	font-family: 'Josefin Sans', sans-serif;
}
h1{
	text-decoration: underline;
}
h3{
	text-align: center;
	background-color: #747548;
	border-radius: 10px;
	width: 300px;
	margin: auto;
}
.sidebar{
	position: relative;
	width: 100%;
	text-align: center;
}

header {
	background-color: #747548;
	text-align: center;
	margin:auto;
	border-radius: 10px;
	width: 700px;
	margin-top: 70px;
	padding: 5px;
}

.participation
[role=navigation] ul li a{
color: purple;
}
.design-selection ul {
	background-color: #747548;
	margin-left: 100px;
	width: 500px;
	padding-bottom: 15px;
	margin-top: 15px;
	position: absolute;
	border-radius: 10px;
	text-decoration: none;
	list-style-type: none;
	padding: 15px;
}
.design-selection li a {
	display: inline block;
	margin-right: 50px;
	text-decoration: none;
	color: black;
}

.design-name {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
}


.design-name .designer-name a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
}

li a:hover {
	background-color: olive;
}

.select {
color:black;
padding-top: 7px;
margin-top: -2070px;
}


/*css for extra1 or logo*/
.extra1 {
  background-image: url(/zenGardenlogo_resized.jpg);
  margin-left: 25px;
  margin-top: -730px;
  border-radius: 10px;
  width: 100px;
  height: 78px;
  padding: 3px;
  position: absolute;
}

.summary {
	text-align: center;
}

.preamble {
	margin-top: 600px;
	
}

.design-archives {
	margin-top: 255px;
	margin-left: -350px;
}

.design-archives ul {
	list-style-type: none;
	margin-left: -45px;
}

.design-archives ul li a:active, a:link, a:visited {
	text-decoration: none;
	color: black;
}

.design-archives ul li a:hover {
	background-color: olivedrab;
}

.zen-resources {
	margin-top: -97px;
	margin-left: 350px;
}
.zen-resources ul {
	list-style-type: none;
	margin-left: -45px;
}

.zen-resources ul li a:hover {
	background-color: olivedrab;
}

}
@media only screen and (min-width: 1024px){
	
}